ADMIN_EMAIL=kknuajygedangsari@gmail.com
ADMIN_PASSWORD=passwordku

NEXT_PUBLIC_API_URL=

# Jika upload dipindahkan ke Cloudinary, isi variabel berikut.
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
